#gnb{
background: #2C3A60;
color: #fff;
}
#wrap.hasgnb{
    padding-top: 0;
}
.content{
    padding-bottom: 40px;
   background: #2C3A60;
}
.notice{
    padding: 25px 20px;
    background: #293247;
}

.notice h2{
    color: #D5DAE9;
    font-size: 14px;
    font-weight: 700;
    line-height: 12.5px; /* 89.286% */
    padding-left: 18px;
    position: relative;
    margin-bottom: 10px;
}

.notice h2::before{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    background: url('../img/promotion/notice.png') no-repeat center;
    background-size: 13px 13px;
}

.notice li{
    color: #B9BDCA;
    font-size: 12px;
    line-height: 17px; /* 141.667% */
    padding-left: 16px;
    position: relative;
}

.notice_01, .notice_02{
    margin-bottom: 16px;
}

.notice_01 li:before{
    content: "-";
    position: absolute;
    left: 0;
    color: #B9BDCA;
 
}
.notice_02 li:before{
    content: "※";
    position: absolute;
    left: 0;
    color: #B9BDCA;
 
}
.notice_03 li:before{
    content: "※";
    position: absolute;
    left: 0;
    color: #B9BDCA;
 
}